html {
	color: #777777;
	width: 960px;
	background-image: url("../images/whirlpool.png");

	
}

head {
}

body {
	

}

.whiteheader {
	background-color: white;
	margin: auto;
	padding-bottom: 30px;
	display: block;
	height: 50px;
	width: 140%;

}

.whitebox {
	width: 50%;
	height: 50%;
	background-color: white;
	margin: 50px 0 0 130px;
	width: 650px;
	height: 500px;
}

.aboutme {
	float: left;
	overflow: auto;
	clear: both;
	font-size: 28px;
}

h1 {
	background-color: #4aaaa5;
	color: white;
	font-size: 28px;
	width:20%;
	text-align: center;
	height: 50px;
	padding-top: 25px;
	margin-left: 130px;
}

h2 {
	color: #4aaaa5;
	font-size: 30px;
}

p {

}


.connect {
	width: 270px;
	background-color: white;
	height: 250px;
	margin left: 500px;
}

.picture {
	float: left;
	position: relative;
	margin-top: -293px;
	width: 128px;
	height: 171px;
}

.tabs {
	margin: 10px 10px 10px 10px;
	float: left;
}

footer {
	background-color: #666666;
	color: white;
	position: absolute;
    left: 0;
    bottom: 0;
    height: 100px;
    width: 100%;
    text-align: center;
    margin: auto;
    border-top: : 10px;
    border-top-color: #4aaaa5;
}