html {
	color: #777777;
	
}

head {
	background-color: #4aaaa5;
	background-image: url(images/whirlpool.png);
}

body {
	

}

.whiteheader {
	background-color: white;
	width: 30px;
	margin: auto;
	padding-bottom: 30px;
	display: block;

}

.aboutme {
	float: left;
	overflow: auto;
	clear: both;
}

h1 {
	background-color: #4aaaa5;
}

h2 {
	color: #4aaaa5;
	font-size: 28px;
}

p {

}

.whitebox {
	background-color: white;
}

.connect {
	background-color: white;
}

.picture {
	float: left;
	position: relative;
}

.tabs {
	margin: 10px 10px 10px 10px;
	float: left;
}

footer {
	background-color: #666666;
	color: white;
	position: absolute;
    left: 0;
    bottom: 0;
    height: 100px;
    width: 100%;
    text-align: center;
    margin: auto;
    border-top: : 10px;
    border-top-color: #4aaaa5;
}